.dnd5e.sheet .filter-list {
    max-width: 100%;
}

.dnd5e.sheet .filter-list .custom-category{
    flex-grow: 2;
}

.dnd5e.sheet.actor .inventory-list .item-controls .remove-category {
    flex: 0 0 100%;
}

.dnd5e.sheet.actor .inventory-list .inv-plus-stuff {
    flex:inherit;
    opacity:0.5;
}

.dnd5e.sheet.actor .inventory-list .inv-plus-stuff:hover, .dnd5e.sheet.actor .inventory-list .toggle-collapse:hover  {
    opacity:1;
}

.dnd5e.sheet.actor .inventory-list .toggle-collapse {
    flex:0;
    opacity:0.5;
    font-size: 18px;
    margin-left:4px;
}

.dnd5e.sheet.actor .inventory-list .inv-plus-stuff div {
    flex-grow:1;
    max-width:120px;
}

.dnd5e.sheet.actor .inventory-list .inv-plus-stuff a {
    flex-grow:0;
    margin-right:2px;
}

.dnd5e.sheet.actor .inventory-list .inv-plus-stuff input{
    height:16px;
    width:16px;
}

.dnd5e.sheet.actor .inventory-list .category-weight {
    margin-left: 5px;
    opacity:0.5;
    font-size:small;
}

.dnd5e.sheet.actor .inventory-list .category-weight:hover {
    opacity:1;
}


.inv-plus-dialog {
    margin: 5px;
}

.inv-plus-dialog dl {
    margin:0 0 5px 0;
}
.inv-plus-dialog dt {
    display: inline-block;
    width: 40%;
    line-height: 27px;
    vertical-align: bottom;
}
.inv-plus-dialog dd {
    display: inline-block;
    margin-left: 5px;
    width: calc(60% - 10px);
}